.personal-form {
  .mat-card {
    display: flex;
    justify-content: space-between;
  }
  .personal-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .personal-body {
    display: block;
    .form-first-line {
      display: flex;
      .field-full-name {
        width: 70%;
        margin-right: 10%;
      }

      .field-gender {
        width: 20%;
      }
    }
    .form-second-line {
      display: flex;
      justify-content: space-between;
      .field-email {
        margin-right: 10%;
      }
      .field-email,
      .field-telephone {
        width: 50%;        
      }
    }
  }
}
