<mat-card class="personal-form">
  <div class="personal-title">
    <h2>Personal Detail</h2>
    <mat-form-field class="field-gender" appearance="fill">
      <mat-label>Language</mat-label>
      <mat-select>
        <mat-option value="english">English</mat-option>
        <mat-option value="portuguese">Português</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <hr />
  <mat-card class="personal-body">
    <div class="form-first-line">
      <mat-form-field class="field-full-name" appearance="fill">
        <mat-label>Full Name</mat-label>
        <input matInput placeholder="" />
      </mat-form-field>
      <mat-form-field class="field-gender" appearance="fill">
        <mat-label>Choose a gender</mat-label>
        <mat-select>
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-second-line">
      <mat-form-field class="field-email" appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="" />
      </mat-form-field>
      <mat-form-field class="field-telephone" appearance="fill">
        <mat-label>Contact Phone</mat-label>
        <input matInput placeholder="" />
      </mat-form-field>
    </div>
  </mat-card>
</mat-card>
