<div class="home-component">
  <div class="home-header"></div>
  <div class="home-body">
    <mat-stepper #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel
            >Fill out your personal information</ng-template
          >
         <app-personal-form></app-personal-form>

          <div class="form-action">
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel
            >Fill out your bussiness information</ng-template
          >
          <!-- <mat-label>Address</mat-label> -->
          <div>
            <!-- <p>Go to a different step to see the error state</p> -->
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Review info and generate resumee</ng-template>
        <p>Review info and generate resumee</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>
