.home-component {
  // background-color: transparent;
  .home-header {
    background-color: blueviolet;
    height: 300px;
  }

  .home-body {
    margin: -150px 100px 0;

    .personal-form {
      .mat-card {
        display: flex;
        justify-content: space-between;
      }
      .field-full-name {
        width: 70%;
        margin-right: 10%;
      }

      .field-gender {
        width: 20%;
      }
    }
  }
}
