// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants

@import "~@angular/material/theming";

$default-theme-primary: mat-palette($mat-cyan, 500, 100, 900);
$default-theme-accent: mat-palette($mat-orange, 800, 300, 200);
$default-theme-warn: mat-palette($mat-red, A700);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$default-theme: mat-dark-theme(
  $default-theme-primary,
  $default-theme-accent,
  $default-theme-warn
);

@include angular-material-theme($default-theme);
:root{
  .mat-stroked-button {
    border-color: rgb(167, 168, 168);
  }
  .mat-button-disabled.mat-button-disabled {
    color: rgba(16, 16, 16, 0.3);
    background-color: rgba(0,0,0,.12);
  }
  .mat-button.mat-button-disabled,
  .mat-stroked-button.mat-button-disabled {
    background-color: transparent;
  }
}
html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a,
ins,
a:link {
  text-decoration: none !important;
}


